[phases.setup]
cmds = [
    "apt-get update",
    "apt-get install -y ca-certificates openssl",  
    "update-ca-certificates",  
    "apt-get install -y maven"
]

[phases.install]
cmds = ["mvn dependency:go-offline"]

[phases.build]
cmds = ["mvn clean package -DskipTests"]

[start]
cmd = "java -Djdk.tls.client.protocols=TLSv1.2 -jar target/hospital-er-*.jar"  