[phases.setup]
cmds = [
    "apt-get update",
    "apt-get install -y openjdk-17-jdk ca-certificates openssl maven",  # Install Java 17
    "update-ca-certificates",
    "update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java"  # Set Java 17 as default
]

[phases.install]
cmds = ["mvn dependency:go-offline"]

[phases.build]
cmds = ["mvn clean package -DskipTests"]

[start]
cmd = "java -Djdk.tls.client.protocols=TLSv1.2 -jar target/hospital-er-*.jar"